.DS_Store
spikit/__pycache__/__init__.cpython-39.pyc
spikit/__pycache__/units.cpython-39.pyc
spikit/__pycache__/binary.cpython-39.pyc
.gitignore
spikit/__pycache__/accretion.cpython-39.pyc
spikit/__pycache__/spike.cpython-39.pyc
test.ipynb
.vscode/settings.json
spikekit.code-workspace
spikit/tests/__pycache__/test_binary.cpython-39-pytest-7.1.2.pyc
spikit/tests/__pycache__/test_evolution.cpython-39-pytest-7.1.2.pyc
.gitignore
spikit/tests/__pycache__/test_binary copy.cpython-39-pytest-7.1.2.pyc
.gitignore
spikit/tests/__pycache__/__init__.cpython-39.pyc
spikit/tests/__pycache__/test_accretion.cpython-39-pytest-7.1.2.pyc
spikit/tests/__pycache__/test_evolution copy.cpython-39-pytest-7.1.2.pyc
spikit/__pycache__/forces.cpython-39.pyc
spikit/tests/__pycache__/test_dfriction.cpython-39-pytest-7.1.2.pyc
spikit/tests/__pycache__/test_dynamical_friction2.cpython-39-pytest-7.1.2.pyc
spikit/tests/__pycache__/test_dynamical_friction.cpython-39-pytest-7.1.2.pyc
